@import "@styles/main.scss";

.container {
    display: flex;
    flex-direction: row;
    row-gap: 2px;
}

.icon-asc, .icon-desc {
    cursor: pointer;
}

.icon-asc {
    transform: rotate(0deg);
}

.icon-desc {
    transform: rotate(180deg)
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: $color-secondary-light-grey;
    font-size: $fonts-small;
    font-weight: 700;
    white-space: nowrap;
}