@import "@styles/main.scss";

.container {
  margin-bottom: 60px;
}

.cards {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  overflow-x: scroll;
  margin-bottom: 40px;
}

.bookmarks {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  font-size: $fonts-medium-high;
  font-weight: 700;
  margin-bottom: 20px;
  align-items: baseline;
}

.bookmark {
  color: $color-grey-3;
  cursor: pointer;
}

.bookmark--active {
  color: $color-dark-grey;
}

@media screen and (min-width:980px) {
    .bookmarks {
      column-gap: 30px;
    }

    .bookmark--active {
      font-size: $fonts-large-medium;
    }
}
