@import "@styles/main.scss";

.wrapper {
  max-width: 1410px;
  margin: 0 auto;
  padding: 80px 10px 50px;
  position: relative;
}

@media screen and (min-width: 980px) {
  .wrapper {
    padding: 100px 20px 50px;
    position: relative;
  }
}

@media screen and (min-width: 1410px) {
  .wrapper {
    padding: 120px 0 100px;
  }
}
