@import "@styles/main.scss";

.container {
    display: flex;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
}

.circle {
    @include circleElement;
}

.container:hover rect {
    fill: $color-red;
}