
// Colors
$color-dark-grey: #1A1A25;
$color-secondary-dark-grey: #2A2C38;
$color-grey-button: #384255;
$color-secondary-light-grey: #384255;
$color-light-grey-opacity: #909CB533;
$color-grey-3: #828282;
$color-light-grey: #909CB5;
$color-fonts-grey: #858FA4;
$color-image-background: #E9EAEF;
$color-underlayer: #DBDDE5;
$color-body: #F6F6F6;
$color-red: #F53B49;
$color-red-hover: #E32A38;
$color-green: #2FC509;
$color-blue: #4B7EE8;
$color-gold: #F99808;

//Fonts
$fonts-small: 12px;
$fonts-small-upper: 14px;
$fonts-medium: 16px;
$fonts-medium-upper: 20px;
$fonts-medium-high: 22px;
$fonts-large: 24px;
$fonts-large-2: 26px;
$fonts-large-medium: 30px;
$fonts-large-upper: 38px;

