@import "@styles/main.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    padding: 12vh 10px;
    width: 100%;
    height: 100vh;
    background: no-repeat center/cover url("../../assets/images/error.png");
}

.text {
    text-align: center;
    font-size: 22px;
    color: $color-dark-grey;
    font-weight: 700;
    line-height: 110%;
}


@media screen and (min-width: 1410px) {
    .container {
        row-gap: 37px;
        padding-top: 138px
    }

    .text {
        font-size: 38px;
    }
}