@import "../../styles/main.scss";

.footer_menu {
    display: flex;
    flex-direction: column;
}

.footer_menu-header {
    font-size: $fonts-medium;
    margin:0 0 16px 0;
    color: white;
}

.menu-item--active{
    color: white;
}

.list {
    padding: 0;
}

.list_item {
    list-style: none;
    margin-bottom: 10px;
    padding: 0;
}

@media screen and (min-width: 979px) {
    .footer_menu-item {
        margin-bottom: 12px;
    }

    .footer_menu-header {
        margin-bottom: 40px;
    }
}