@import "@styles/main.scss";


.upper {
  display: none;
  max-width: 1410px;
  margin: 0 auto;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: $color-dark-grey;
}


@media screen and (min-width: 1410px) {
  .upper {
    display: block
  }
}
