@import "@styles/main.scss";

.container {
  width: 250px;
  height: 420px;
  min-width: 250px;
  min-height: 420px;
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 20px;
  cursor: grab;
}

.image-box {
  width: 250px;
  height: 260px;
  @include centerElement;
  overflow: hidden;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

.title {
  font-size: $fonts-medium;
  font-weight: 800;
  line-height: 110%;
  margin-bottom: 10px;
}

.promotext {
  font-size: $fonts-small-upper;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
  width: 90%;
}

.date {
  color: $color-secondary-light-grey;
  opacity: 0.5;
  font-size: $fonts-medium;
}

.container:hover {
  color: $color-red;
}


@media screen and (min-width: 980px) {
  .image-box {
    width: 315px;
    height: 260px;
  }
  .title {
    font-size: $fonts-medium-upper;
  }

  .promotext {
    font-size: $fonts-medium;
  }

  .container {
    width: 315px;
    height: 440px;
    min-width: 315px;
    min-height: 440px;
  }

}