@import "@styles/main.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 13px 20px;
  font-size: $fonts-small-upper;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  transition: .35s;
}

.button--red-fill {
  background-color: $color-red;
  color: white;
}

.button--red-fill:hover{
  background-color: $color-red-hover;
}

.button--red-empty {
    background-color: transparent;
    border: 1px solid $color-red;
    color: $color-red;
}

.button--red-empty:hover {
  color: white;
  background-color: $color-red;
}

.button--grey-empty {
    background-color: transparent;
    border: 1px solid $color-light-grey;
    color: $color-light-grey;
}

.button--grey-empty:hover {
  color: $color-secondary-light-grey;
  border-color: $color-secondary-light-grey;
}

.button--white-empty {
  background-color: transparent;
  border: 1px solid transparentize(white, .3);
  color: white;
}

.button--white-empty:hover {
border-color: $color-red;
background-color: $color-red;
}

@media screen and (max-width: 979px) {
  .button {
    font-size: $fonts-small;
  }
}
